{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
{% endblock %}


{% block main %}
<main class="map">
  <div id="map"></div>

  <section class="panel bg-white p-4">
    <i class="fas fa-times text-primary pointer mb-4" onclick="panelControl.hide(this)"></i>

    <div class="ad rounded hoverable ">
      <img class="rounded-top" src="{% static 'img/apartment.jpg' %}" alt="property_img">
      <div class="content p-3">
        <div class="row">
          <div class="col-10 lead"><p class="price">0</p></div>
          <div class="col-2 text-right"><i class="far fa-heart pointer"></i></div>
        </div>
        <ul>
          <li>Floor: <span></span></li>
          <li>Area: <span></span> m²</li>
          <li>Bedroom: <span></span></li>
          <li>Kitchen: <span></span></li>
          <li>Bathroom: <span></span></li>
        </ul>
        <p class="address text-muted">Madenati, Main street, 3551</p>
        <div class="row mt-2">
          <div class="col">
            <button class="btn btn-outline-secondary btn-block">Open offer</button>
          </div>
          <div class="col">
            <button id="featureProperty" class="btn btn-primary btn-block" onclick="handleFeatureProperty(this)" data-id="">Map features</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}


{% block js %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  // Some global JS

  // Static url generator
  const static = url => `{% static '' %}${url}`;

</script>

<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/control.js' %}"></script>
<script>



  



  function handleFeatureProperty(element) {
    featureProperty("{% url 'feature_property' %}", element)
  }

  


  fetchProperties("{% url 'property' %}")

  // L.Routing.control({
  //   serviceUrl: 'http://router.project-osrm.org/route/v1',
  //   waypoints,
  //   fitSelectedRoutes: false,
  //   lineOptions: {
  //     styles: [{color: '#ffca00', opacity: 1, weight: 5}]
  //   },
  //   createMarker: function() { return null; },
  //   routeWhileDragging: true
  // }).addTo(map);


</script>
{% endblock %}